/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
    font-family: 'Graphik LCG', sans-serif;
}

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="text"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}
